*{
    margin: 0;
    padding: 0;
   
}

body{
    color: white;
    font-family: 'Bree Serif', serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Passion One', cursive;
    font-family: 'Poppins', sans-serif;
}

.banner{
    height: 600px;
    background-image: url(./images/desktop/image-header.jpg);
    background-size: cover;
    background-position: center;
}

.header{
    display:flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding:20px 30px;
}

.menu span{
    margin-right:20px;
    font-size: 1.3rem;
}
.menu .contact{
    background-color: white;
    color:black;
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
}

.menu2{
    display: none;
}
.menu2 div{
    background: white;
    height:4px;
    width: 50px;
    margin-bottom: 4px;
}

.main{
    width:80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}

.arrow{
    margin-top: 50px;
}

.main span{
    font-size: 4rem;
    font-weight: bolder;
    letter-spacing: 5px;
}

.section1{
    display:flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    color: black;
    width:100%;
}

.section1 .left{
    width:50%;
    margin: 0 auto;
    text-align: center;
}
.section1 .right{
    width:50%;
    margin: 0 auto;
}
.section1 .right img{
    width:100%;
}
.section1 .left .text{
    width:70%;
    margin: 0 auto;
    text-align:left;
}
.section1 .left .text p{
    margin-bottom: 30px;
    line-height: 23px;
    font-size: 1.3rem;
}

.section2{
    display:flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    color: black;
    width:100%;
}

.section2 .right{
    width:50%;
    margin: 0 auto;
    text-align: center;
}
.section2 .left{
    width:50%;
    margin: 0 auto;
}
.section2 .left img{
    width:100%;
}
.section2 .right .text{
    width:70%;
    margin: 0 auto;
    text-align:left;
}
.section2 .right .text p{
    margin-bottom: 30px;
    line-height: 23px;
    font-size: 1.3rem;
}

.section3{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    text-align: center;
    color: black;
    width:100%;
}
.section3 .right{
    background: url('./images/desktop/image-photography.jpg');
    background-size: cover;
    background-position: center;
    height: 550px;
    width: 50%;
    color: hsl(198, 62%, 26%);
}
.section3 .left{
    background: url('./images/desktop/image-graphic-design.jpg');
    background-size: cover;
    background-position: center;
    height: 550px;
    width:50%;
    color: hsl(167, 40%, 24%);
}
.section3 .text{
    width:50%;
    text-align: center;
    margin: 350px auto 0px auto;
}
.section4{
    text-align: center;
    color: black;
    padding: 100px 0px;
    width:100%;
    margin: 0 auto;
}
.section4 h1{
    color: hsl(60,0%,71%);
    font-size: 1.5rem;
    letter-spacing: 5px;
    margin: 0px 0px 70px 0px;
    font-weight: 700;
}
.section4 .clientD{
    width:80%;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
}
.section4 .clientD .text{
    margin: 0px 15px 0px 0px;
}
.section4 .clientD img{
    border-radius:50%;
}
.section4 .clientD .text h2{
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 20px;
}
.section4 .clientD .text h2 span{
    font-size: 1.1rem;
    color: hsl(60,0%,71%);
}
.section4 .clientD .text p{
    line-height: 25px;
}

.section5{
    width:100%;
    display:flex;
}

.section5 .top, .section5 .bottom{
    width:100%;
    display:flex;
}

.section5 .top img, .section5 .bottom img{
    width:50%;
}
.section6{
    background-color: hsl(166,44%,69%);
    color: hsl(167, 40%, 24%);
    width:100%;
    margin: 0 auto;
    text-align: center;
    padding: 80px 0px;
}
.section6 .menu3{
    color: rgb(51, 147, 125);
    width:80%;
    margin: 40px auto 40px auto;
}
.section6 .menu3 span{
    width: 80%;
    margin: 0px 18px;
}
.section6 .socials a{
  margin: 20px 6px;
  color: hsl(167, 40%, 24%);
  font-size:1.7rem;
}



@media only screen and (max-width: 1000px){
    .menu{
        display: none;
    }
    .menu2{
        display:block;
    }
    .main span{
        font-size: 2.8rem;
    }
    .section1{
        flex-direction:column-reverse;
    }
    .section1 h1, .section2 h1{
       font-size: 1.8rem;
       font-weight:bold;
    }
    .section1 .left{
        width:100%;
    }
    .section1 .right{
        width:100%;
    }
    .section1 .left .text{
        width:70%;
        margin: 0 auto;
        text-align:center;
        padding: 50px 0px;
    }
    .section1 .left .text p{
        margin-bottom: 30px;
        line-height: 23px;
        font-size: 1.1rem;
    }
    .section2{
        flex-direction: column;
        width:100%;
    }
    
    .section2 .right{
        width:100%;
    }
    .section2 .left{
        width:100%;
    }
    .section2 .left img{
        width:100%;
    }
    .section2 .right .text{
        width:70%;
        text-align:center;
        padding: 50px 0px;
    }
    .section2 .right .text p{
        margin-bottom: 30px;
        line-height: 23px;
        font-size: 1.1rem;
    }
    .section3{
        flex-direction: column;
    }
    .section3 .right{
        width: 100%;
    }
    .section3 .left{
        width:100%;
    }
    .section3 .text{
        width:70%;
        font-size: 1.1rem;
        line-height: 25px;
    }
    .section5{
        flex-direction: column;
    }
    .section4 .clientD{
       flex-direction: column;
    }
    .section4 h1{
        font-size: 1.8rem;
    }
    .section4 .clientD .text{
        margin: 0px 0px 30px 0px;
    }
}
